@tailwind base;
@tailwind components;
@tailwind utilities;

.khmer-regular {
  font-family: "Khmer", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.content-regular {
  font-family: "Content", system-ui;
  font-weight: 400;
  font-style: normal;
}
.content-bold {
  font-family: "Content", system-ui;
  font-weight: 700;
  font-style: normal;
}
.koh-santepheap-thin {
  font-family: "Koh Santepheap", serif;
  font-weight: 100;
  font-style: normal;
}
.koh-santepheap-light {
  font-family: "Koh Santepheap", serif;
  font-weight: 300;
  font-style: normal;
}
.koh-santepheap-regular {
  font-family: "Koh Santepheap", serif;
  font-weight: 400;
  font-style: normal;
}
.koh-santepheap-bold {
  font-family: "Koh Santepheap", serif;
  font-weight: 700;
  font-style: normal;
}
.koh-santepheap-black {
  font-family: "Koh Santepheap", serif;
  font-weight: 900;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}